.navbar{
    border-bottom: 0.5em solid #1512172b;
    padding: 1cm;
}

.container-fluid img {
    width: 20em;
    flex-wrap: wrap;
    margin-left: 2em;
}
.container-fluid {
    display: flex;
    gap: 1em;
    flex-direction: column;
    align-items: flex-start;
}

.nav-item a,.navbar-nav li{
    font-size: 1.3em;
    display: flex;
    gap: 1em;
    list-style-type: none;
    text-decoration: none;
    color: black;
}

.trait_header {
    rotate: 90deg;
}