<nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <a routerLink="/"><img src="/Logo.png"/></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse " id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/batiment"><li>Bâtiment</li></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/services"><li>Services</li></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/fabrication"><li>Fabrication</li></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/alimentation"><li>Alimentation</li></a>
          </li>
          <li class="nav-item">
            <div class="container py-2" id="searchBar">
              <div class="row">
                  <div class="input-group col-md-4">
                      <input class="form-control py-2" type="search" placeholder="Rechercher par Nom, Spécialité ou Ville" id="example-search-input">
                      <span class="input-group-append">
                          <a routerLink="/search"><button class="btn" type="button">
                            <i class="fa fa-search"></i>
                          </button></a>
                      </span>
                  </div>
              </div>
          </div> 
          </li>
        </ul>       
      </div>
    </div>
  </nav>