<footer class="footer">
    <div class="bleue">
        <img id="bulle" src="/Bulle.png">
        <img id="logo" src="/Logo_white.png"> 
        <div class="column">   
            <div class="footer_column">
                <h4>Conseil régional
                Auvergne-Rhône-Alpes</h4>
            </div>
            <div class="bleue_column">
                <h4><u>Lyon</u></h4>
                <p>101 cours Charlemagne CS</p> 
                <p>20033</p> 
                <p>69269 LYON CEDEX 02</p>
                <p>France</p>
                <br>
                <p>Ouvert du lundi au vendredi de 8h15 à 17h</p>
                <br>
                <p><i class="fa-solid fa-phone"></i> +33 (0)4 26 73 40 00</p>   
                <br>                 
                <p>Accueil téléphonique du lundi au vendredi de 8h30 à 17h</p>
                <p>Tram T1 et T2 - Arrêt Hôtel de Région</p>
                <p>- Montrochet</p>
            </div>
        </div>
        <img id="bulle" src="/Line.png"> 
        <div class="mention">
            <p>Mention légales</p>
            <p>Données personnelles</p>
            <p>Accessibilité : partiellement conforme</p>
            <p>Presse</p>
            <p>Marchés publics</p>
            <p>Venir à la Région</p>
            <p>Contacts</p>
            <p>Gestion des cookies</p>
        </div>
    </div>
    <div class="reseaux">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-x-twitter"></i>
        <i class="fa-brands fa-youtube"></i>
        <i class="fa-brands fa-square-instagram"></i>
    </div>
</footer>