.footer{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    .bleue {
        background-color: #0074C7;
        color: white;
        padding: 0 1em 1em 3em;
        #bulle {
            width: 100%;
            margin: -2px;
        }
        .column {
            display: flex;
            gap: 5em;
            padding: 2em;
        }
        
        .bleue_column h4 {
            margin-bottom: 1em;
        }
        
        .bleue_column p {
            margin: 0;
        }
    }
    
    .mention {
        margin-top: 1em;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    .reseaux {
        margin-top: 1em;
        display: flex;
        gap: 10px;
        justify-content: center;
        .reseaux i {
            font-size: 2em;
        }
    }
}

@media (max-width: 992px) {
    .column{
        flex-direction: column
    }
 }