<div class="meilleurs d-flex row justify-content-center">
    <div *ngFor ="let data of (datas)" class="datas col-3 d-flex flex-column align-items-center" [routerLink]="['/datas', data.id]">
        <img src="/artisan.png">
        <h3>{{ data.name }}</h3>
        <p>{{ data.specialty }}</p>
        <div class="etoiles">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <p>{{ data.note }}</p>
        </div>
        <p>{{ data.location }}</p>
    </div>
</div>