<div class="titre">
    <img src="/Line_verte.png">
    <h2>Liste des artisans</h2>
    <h4><i>Cliquez sur une fiche pour avoir plus de détails !</i></h4>
</div>
<div class="container d-flex justify-content-center">
    <div *ngFor ="let data of (datas | category4:sortOrderAlimentation)" 
    class="datas col-3 d-flex flex-column align-items-center " 
    [routerLink]="['/datas', data.id]">
        <img src="/artisan.png">
        <h3>{{ data.name }}</h3>
        <p>{{ data.specialty }}</p>
        <div class="etoiles d-flex">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <p>{{ data.note }}</p>
        </div>
        <p>{{ data.location }}</p>
    </div>
</div>