<div class="container">
    <div *ngFor ="let data of (datas | category2:sortOrderServices)" class="datas col-3" [routerLink]="['/datas', data.id]">
        <img src="/artisan.png">
        <h3>{{ data.name }}</h3>
        <p>{{ data.specialty }}</p>
        <div class="etoiles d-flex">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <p>{{ data.note }}</p>
        </div>
            <p>{{ data.location }}</p>
    </div>
</div>