.fiche{
    border: 0.5em solid black;
    border-radius: 30px;
    box-shadow: 12px 12px 16px 1px #0074C7;
    margin: 1em;
    width: 90%;
    img {
        width: 30em;
    }
    .artisan-texte {
        width: 70%;
        .blue {
            color: #0074C7;
            margin-bottom: 5em;
        }
    }
    .artisan-about {
        color: white;
        background-color: #0074C7;
        border-radius: 0 21px 21px 0;
        width: 30%;
    }
}

.fa-regular{
    color: #0074C7;
}

.formulaire{
margin: 0 4em;
}