<body>
  <div class="body d-flex flex-column  ">
    <div class="titre">
        <h1>Comment trouver mon artisan ?</h1>
        <img src="/Line_bleue.png">
        <h2>En 4 étapes</h2>
    </div>
    <div class="container text-center">
        <div class="row">
          <div class="col">
            <img src="/etape_1.png">
            <h3>Choisir la catégorie d’artisanat dans le menu.</h3>
          </div>
          <div class="col">
            <img src="/etape_2.png">
            <h3>Choisir un artisan.</h3>
          </div>
          <div class="col">
            <img src="/etape_3.png">
            <h3>Le contacter via le formulaire de contact.</h3>
          </div>
          <div class="col">
            <img src="/etape_4.png">
            <h3>Une réponse sera apportée sous 48h.</h3>
          </div>
        </div>
    </div>
    <div class="titre">
        <img src="/Line-rouge.png">
        <h2>Nos artisans du mois <i class="fa-regular fa-heart"></i></h2>
    </div>
    <app-datas></app-datas>
    <button [routerLink]="['/datas']">Voir tous les artisans <i class="fa-solid fa-angles-right"></i></button>
</div>
</body>
